h1, p {
  font-family: Lato;
}

.panel, pre {
  background: none;
}

.hidden {
  display: none;
}

.resume-panel pre img.secure {
  height: 16px;
  position: relative;
  top: 5px;
  transform: rotate(-2deg);
}